<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jiahui.testcase.mapper.DatabaseMapper" >
  <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.Database" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="db_name" property="dbName" jdbcType="VARCHAR" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="env_id" property="envId" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="edu.jiahui.testcase.domain.DatabaseWithBLOBs" extends="BaseResultMap" >
    <result column="create_table_sql" property="createTableSql" jdbcType="LONGVARCHAR" />
    <result column="insert_sql" property="insertSql" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, db_name, host, port, username, password, env_id, created_by, updated_by, created_at,updated_at,create_table_sql,insert_sql
  </sql>

  <select id="select" parameterType="edu.jiahui.testcase.domain.request.SearchDatabaseReq" resultType="edu.jiahui.testcase.domain.DatabaseWithBLOBs">
    select db.id as id,db.db_name as dbName,db.host as host,db.port as port,db.username as username,db.env_id as envId,users.username as updatedBy,db.updated_at as updatedAt
    from
    db
    left join
    users
    on
    db.updated_by=users.id
    <where>
      1=1
      <if test="envId !=null and envId != ''">
        and env_id=#{envId}
      </if>
      <if test="dbName != null and dbName != ''">
        and db_name like '%${dbName}%'
      </if>
    </where>
    order by db.updated_at desc
  </select>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from db
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByIds" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from db
    <if test="ids!=null">
    where id in
    <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
    </if>
  </select>

  <select id="selectByDbnameEnvid" parameterType="edu.jiahui.testcase.domain.request.DatabaseReq" resultType="java.lang.Integer">
    select count(*)
     from db
     where db_name=#{dbName} and env_id=#{envId}
  </select>

  <select id="selectByDbnameEnvidAndId" parameterType="edu.jiahui.testcase.domain.request.DatabaseReq" resultType="java.lang.Integer">
    select count(*)
    from db
    where db_name=#{dbName} and env_id=#{envId} and id &lt;&gt; #{id}
  </select>

  <select id="selectMini" resultType="edu.jiahui.testcase.domain.Database">
    select id, db_name as dbName
    from db
    order by id desc
  </select>

  <insert id="insert" parameterType="edu.jiahui.testcase.domain.request.DatabaseReq">
    insert into db
    (db_name,host,port,username,password,env_id,create_table_sql,insert_sql,created_by,updated_by)
    values
    (#{dbName},#{host},#{port},#{username},#{password},#{envId},#{createTableSql},#{insertSql},#{createdBy},#{updatedBy})
  </insert>

  <update id="update" parameterType="edu.jiahui.testcase.domain.request.DatabaseReq">
    update db
    set
    db_name=#{dbName},host=#{host},port=#{port},username=#{username},password=#{password},
    env_id=#{envId},create_table_sql=#{createTableSql},insert_sql=#{insertSql},updated_by=#{updatedBy}
    where id=#{id}
  </update>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from db
    where id=#{id,jdbcType=INTEGER}
  </delete>
</mapper>
