<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jiahui.testcase.mapper.ReportMapper" >
  <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.Report" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="testcase_id" property="testcaseId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="success_num" property="successNum" jdbcType="INTEGER" />
    <result column="fail_num" property="successNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, testcase_id, group_id, created_by, updated_by, created_at, updated_at, result, success_num,fail_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from report
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByTestcaseId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    report.id as id,
    report.result as result,
    report.created_at as created_at,
    users.username as created_by
    from report
    left join
    users
    on
    report.created_by=users.id
    where testcase_id = #{id,jdbcType=INTEGER}
    order by report.created_at desc
  </select>

  <select id="selectByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    report.id as id,
    report.result as result,
    report.created_at as created_at,
    users.username as created_by
    from report
    left join
    users
    on
    report.created_by=users.id
    where group_id = #{id,jdbcType=INTEGER}
    order by report.created_at desc
  </select>

  <insert id="insert" parameterType="edu.jiahui.testcase.domain.Report" useGeneratedKeys="true" keyProperty="id">
    insert into report (testcase_id,group_id,result,success_num,fail_num,created_by,updated_by) values (#{testcaseId},#{groupId},#{result},#{successNum},#{failNum},#{createdBy},#{updatedBy})
  </insert>
</mapper>
