<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jiahui.testcase.mapper.TestcaseConfigMapper">
    <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.TestcaseConfig">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="config_name" jdbcType="VARCHAR" property="configName" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="project_id" jdbcType="INTEGER" property="projectId" />
        <result column="env_id" jdbcType="INTEGER" property="envId" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    </resultMap>
    <sql id="Base_Column_List">
    id, config_name, project_id, env_id, description, created_by, updated_by, created_at,updated_at
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from testcase_config order by id desc
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from testcase_config where id=#{id}
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="edu.jiahui.testcase.domain.TestcaseConfig">
        select
        <include refid="Base_Column_List"/>
        from testcase_config
        <if test="(configName != null and configName !='') or projectId != null or (updatedBy != null and updatedBy !='') or envId != null">
        where
        <if test="configName != null and configName !=''">
            config_name like '%${configName}%' and
        </if>
        <if test="projectId != null">
            project_id = #{projectId} and
        </if>
        <if test="updatedBy != null and updatedBy !=''">
            updated_by=#{updatedBy} and
        </if>
        <if test="envId != null">
            env_id = #{envId}
        </if>
        </if>
    </select>

    <select id="selectByConfigName" resultType="java.lang.Integer">
        select count(*)
        from testcase_config
        where config_name=#{configName}
        <if test="id!=null">
            and id!=#{id}
        </if>
    </select>

    <insert id="insert" parameterType="edu.jiahui.testcase.domain.TestcaseConfig" useGeneratedKeys="true" keyProperty="id">
        insert into testcase_config
        (config_name,project_id,env_id,description) values (#{configName},#{projectId},#{envId},#{description})
    </insert>

    <update id="update" parameterType="edu.jiahui.testcase.domain.TestcaseConfig">
        update testcase_config set config_name=#{configName},project_id=#{projectId},env_id=#{envId},description=#{description}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from testcase_config where id=#{id}
    </delete>
</mapper>
