<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jiahui.testcase.mapper.TestcaseConfigMapper">
    <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.TestcaseConfig">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="config_name" jdbcType="VARCHAR" property="configName" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="project_id" jdbcType="INTEGER" property="projectId" />
        <result column="env_id" jdbcType="INTEGER" property="envId" />
        <result column="created_by" jdbcType="INTEGER" property="createdBy" />
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    </resultMap>
    <sql id="Base_Column_List">
    id, config_name, project_id, env_id, description, created_by, updated_by, created_at,updated_at
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from testcase_config order by id desc
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from testcase_config where id=#{id}
    </select>

    <select id="selectByCondition" parameterType="edu.jiahui.testcase.domain.request.SearchConfigReq" resultType="edu.jiahui.testcase.domain.TestcaseConfig">
        select
        testcase_config.id as id, testcase_config.config_name as configName, testcase_config.project_id as projectId, testcase_config.env_id as envId, testcase_config.description as description, users.username as updatedBy, testcase_config.created_at as createdAt,testcase_config.updated_at as updatedAt
        from testcase_config
        inner join
        project
        on
        testcase_config.project_id=project.id
        left join users
        on
        testcase_config.updated_by=users.id
        <where>
        1=1
        <if test="configName != null and configName !=''">
           and testcase_config.config_name like '%${configName}%'
        </if>
        <if test="projectName != null and projectName !=''">
         and project.project_name like '%${projectName}%'
        </if>
        <if test="lastUpdatedBy != null and lastUpdatedBy !=''">
          and testcase_config.updated_by=#{lastUpdatedBy}
        </if>
        <if test="envId != null">
           and testcase_config.env_id = #{envId}
        </if>
        </where>
        order by testcase_config.updated_at desc
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select id,config_name from testcase_config where project_id=#{projectId} and env_id=#{envId}
    </select>

    <select id="selectByConfigName" resultType="java.lang.Integer">
        select count(*)
        from testcase_config
        where config_name=#{configName}
        <if test="id!=null">
            and id!=#{id}
        </if>
    </select>

    <insert id="insert" parameterType="edu.jiahui.testcase.domain.TestcaseConfig" useGeneratedKeys="true" keyProperty="id">
        insert into testcase_config
        (config_name,project_id,env_id,description,created_by,updated_by) values (#{configName},#{projectId},#{envId},#{description},#{createdBy},#{updatedBy})
    </insert>

    <update id="update" parameterType="edu.jiahui.testcase.domain.TestcaseConfig">
        update testcase_config set config_name=#{configName},project_id=#{projectId},env_id=#{envId},description=#{description},
        created_by=#{createdBy},updated_by=#{updatedBy}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from testcase_config where id=#{id}
    </delete>
</mapper>
