<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jiahui.testcase.mapper.TestcaseConfigDetailMapper" >
  <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.TestcaseConfigDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="config_id" property="configId" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, value, config_id, created_by, updated_by, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from testcase_config_detail
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByConfigId" parameterType="java.lang.Integer" resultType="edu.jiahui.testcase.domain.TestcaseConfigDetail">
    select
    <include refid="Base_Column_List"/>
    from testcase_config_detail
    where config_id=#{configId}
  </select>

  <insert id="insert" parameterType="edu.jiahui.testcase.domain.TestcaseConfigDetail">
    insert into testcase_config_detail
    (name,type,value,config_id)
    values
    <foreach collection="testcaseConfigDetails" item="item" separator=",">
      (#{item.name},#{item.type},#{item.value},#{item.configId})
    </foreach>
  </insert>

  <insert id="insertOne" parameterType="edu.jiahui.testcase.domain.TestcaseConfigDetail">
    insert into testcase_config_detail
    (name,type,value,config_id)
    values (#{name},#{type},#{value},#{configId})
  </insert>

  <update id="update" parameterType="edu.jiahui.testcase.domain.TestcaseConfigDetail">
    update testcase_config_detail
    set name=#{name},type=#{type},value=#{value}
    where id=#{id}
  </update>

  <delete id="deleteNotIn" parameterType="java.lang.Integer">
    delete from testcase_config_detail
    where config_id=#{configId}
    <if test="ids!=null">
      and id not in
      <foreach collection="ids" item="id" open="(" separator="," close=")">
        #{id}
      </foreach>
    </if>
  </delete>

  <delete id="deleteByConfigId" parameterType="java.lang.Integer">
    delete from testcase_config_detail where config_id=#{configId}
  </delete>
</mapper>
