<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jiahui.testcase.mapper.TestcaseDetailMapper" >
  <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.TestcaseDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="scope" property="scope" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="properties_id" property="propertiesId" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="testcase_id" property="testcaseId" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="comparator" property="comparator" jdbcType="CHAR" />
    <result column="expected_value" property="expectedValue" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="array_index" property="arrayIndex" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, scope, type, name, properties_id, value, database_id, testcase_id, created_at,
    updated_at, created_by, updated_by,comparator,expected_value,parent_id,array_index
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from testcase_detail
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="edu.jiahui.testcase.domain.TestcaseDetail">
    insert into testcase_detail (scope,type,name,properties_id,value,database_id,testcase_id,comparator,expected_value,created_by,updated_by)
    values
    <foreach collection="list" item="item" separator=",">
    (#{item.scope},#{item.type},#{item.name},#{item.propertiesId},#{item.value},#{item.databaseId},#{item.testcaseId},#{item.comparator},#{item.expectedValue},#{item.createdBy},#{item.updatedBy})
    </foreach>
  </insert>

  <select id="selectByInterfaceId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from testcase_detail
    where interfaceId=#{interfaceId}
  </select>

  <select id="selectByTestcaseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from testcase_detail
        where testcase_id=#{testcaseId}
  </select>

  <select id="selectByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
     from testcase_detail where parent_id=#{parentId}
  </select>


  <update id="updateByPrimaryKey" parameterType="edu.jiahui.testcase.domain.TestcaseDetail">
    update testcase_detail set scope=#{scope},type=#{type},name=#{name},value=#{value},database_id=#{databaseId},comparator=#{comparator},
    expected_value=#{expectedValue},array_index=#{arrayIndex},created_by=#{createdBy},updated_by=#{updatedBy} where id=#{id}
  </update>

  <insert id="insertOne" parameterType="edu.jiahui.testcase.domain.TestcaseDetail" useGeneratedKeys="true" keyProperty="id">
        insert into testcase_detail (scope,type,name,properties_id,value,database_id,testcase_id,comparator,expected_value,parent_id,array_index,created_by,updated_by)
        values
        (#{scope},#{type},#{name},#{propertiesId},#{value},#{databaseId},#{testcaseId},#{comparator},#{expectedValue},#{parentId},#{arrayIndex},#{createdBy},#{updatedBy})
  </insert>

  <delete id="deleteByTestcaseId" parameterType="java.lang.Integer">
    delete from testcase_detail where testcase_id=#{testcaseId}
  </delete>

  <delete id="deleteNotIn" parameterType="java.lang.Integer">
    delete from testcase_detail where testcase_id=#{testcaseId} and scope=#{scope}
    <choose>
      <when test="parentId!=null">
      and parent_id=#{parentId}
      </when>
      <otherwise>
        and parent_id is null
      </otherwise>
    </choose>

    <if test="ids!=null">
        and id not in
      <foreach collection="ids" item="id" open="(" separator="," close=")">
        #{id}
      </foreach>
    </if>

  </delete>

</mapper>
