<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jiahui.testcase.mapper.TestcaseGroupMapper" >
  <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.TestcaseGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="env_id" property="envId" jdbcType="INTEGER" />
    <result column="config_ids" property="configIds" jdbcType="VARCHAR" />
    <result column="testcase_ids" property="testcaseIds" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_name, env_id, config_ids, testcase_ids, created_at, updated_at, created_by,
    updated_by,project_id,description
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from testcase_group
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="select" parameterType="edu.jiahui.testcase.domain.request.SearchGroupReq" resultType="edu.jiahui.testcase.domain.response.SearchGroupRes$Group">
    select
    testcase_group.id,group_name as groupName,testcase_group.project_id as projectId,
    project.project_name as projectName,testcase_group.env_id as envId,testcase_group.updated_by as updatedBy,
    testcase_group.updated_at as updatedAt,testcase_group.description
    from testcase_group
    left join project
    on testcase_group.project_id=project.id
     <where>
     1=1
     <if test=" groupName != null and groupName != ''">
       and group_name like '%${groupName}%'
     </if>
     <if test="projectName != null and projectName != ''">
       and project.project_name like '%${projectName}%'
     </if>
     <if test="envId != null">
       and testcase_group.env_id = #{envId}
     </if>
     <if test="lastUpdatedBy != null and lastUpdatedBy != ''">
      and testcase_group.updated_by=#{lastUpdatedBy}
     </if>
     </where>
     order by testcase_group.updated_by desc
  </select>

  <select id="exitName" resultType="java.lang.Integer">
    select count(*) from testcase_group where group_name=#{groupName}
    <if test="id!=null">
      and id!=#{id}
    </if>
  </select>

  <insert id="insert" parameterType="edu.jiahui.testcase.domain.TestcaseGroup" useGeneratedKeys="true" keyProperty="id">
    insert into
    testcase_group
    (group_name, env_id, config_ids, testcase_ids, created_by,
    updated_by,project_id) values (#{groupName},#{envId},#{configIds},#{testcaseIds},#{createdBy},#{updatedBy},#{projectId})
  </insert>

  <update id="update" parameterType="edu.jiahui.testcase.domain.TestcaseGroup">
    update testcase_group set group_name=#{groupName},env_id=#{envId},config_ids=#{configIds},
    testcase_ids=#{testcaseIds},project_id=#{projectId}
    where id=#{id}
  </update>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from testcase_group where id=#{id}
  </delete>



</mapper>
