<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jiahui.testcase.mapper.TestcaseDetailMapper" >
  <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.TestcaseDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="scope" property="scope" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="properties_id" property="propertiesId" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="database_id" property="databaseId" jdbcType="INTEGER" />
    <result column="testcase_id" property="testcaseId" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="comparator" property="comparator" jdbcType="CHAR" />
    <result column="expected_value" property="expectedValue" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, scope, type, name, properties_id, value, database_id, testcase_id, created_at,
    updated_at, created_by, updated_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from testcase_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="edu.jiahui.testcase.domain.TestcaseDetail">
    insert testcase_detail set (scope,type,name,properties_id,value,database_id,testcase_id,comparator,expected_value)
    values
    (#{scope},#{type},#{name},#{propertiesId},#{value},#{databaseId},#{testcaseId},#{comparator},#{expectedValue})
  </insert>
</mapper>
