<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jiahui.testcase.mapper.TestcaseMapper" >
  <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.Testcase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="testcase_name" property="testcaseName" jdbcType="VARCHAR" />
    <result column="env_id" property="envId" jdbcType="INTEGER" />
    <result column="config_ids" property="configIds" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="testcase_group_id" property="testcaseGroupId" jdbcType="INTEGER" />
    <result column="interface_id" property="interfaceId" jdbcType="INTEGER" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, testcase_name, env_id, config_ids, created_at, updated_at, created_by, updated_by,
    testcase_group_id, interface_id, url, method
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from testcase
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByInterfaceId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from testcase
    where interface_id=#{interfaceId}
  </select>

  <insert id="insert" parameterType="edu.jiahui.testcase.domain.Testcase" useGeneratedKeys="true" keyProperty="id">
    insert into testcase (testcase_name,env_id,config_ids,interface_id) values
    (#{testcaseName},#{envId},#{configIds},#{interfaceId})
  </insert>

  <update id="updateByPrimaryKey" parameterType="edu.jiahui.testcase.domain.Testcase" >
    update testcase set testcase_name=#{testcaseName},env_id=#{envId},config_ids=#{configIds}
    where id=#{id}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from testcase where id=#{id}
  </delete>
</mapper>
