<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.jiahui.testcase.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="edu.jiahui.testcase.domain.Users" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="token" property="email" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, token, email, deleted_at, created_at, updated_at, created_by, updated_by
  </sql>

  <select id="selectByName" parameterType="edu.jiahui.testcase.domain.Users" resultType="java.lang.Integer">
    select count(*) from users where username=#{username}
  </select>

  <select id="selectByNameAndPassword" parameterType="edu.jiahui.testcase.domain.Users" resultType="edu.jiahui.testcase.domain.response.UserRes">
    select id as userId,username from users where username=#{username} and password=#{password}
  </select>

  <select id="selectByToken" parameterType="edu.jiahui.testcase.domain.Users" resultType="edu.jiahui.testcase.domain.Users">
    select id,token from users
    where token=#{token}
  </select>

  <insert id="insert" parameterType="edu.jiahui.testcase.domain.Users">
    insert into users (username,password,email) values (#{username},#{password},#{email})
  </insert>

  <update id="updateToken" parameterType="edu.jiahui.testcase.domain.Users">
    update users set token=#{token}  where id=#{id}
  </update>
</mapper>
